.basket {
    margin: 0 auto;
    width: 90%;
    padding: 50px 0;
    font-size: 20px;
}

.basket_buttons {
    display: flex;
    position: relative;
}

.confirm_basket {
    font-size: 18px;
    padding: 7px;
    border: 3px solid #e3379c;
    box-sizing: border-box;
    background: #e3379c;
    margin-top: 50px;
    transition: 400ms;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.confirm_basket:hover {
    background: #f37cbe;
}